@import "_mixins/_media-breakpoints"
// Colors
$grey-color:            #CED7E0
$greyLight-color:       #E8EBEF
$greyDark-color:        #A4B6C8

$yellow-color:          #FFB600
$yellowLight-color:     #FFC533

$white-color:           #ffffff

$black-color:           #000000
$blackLight-color:      #262B34

// Fonts

$BGPro-font:            "BasisGrotesquePro"
$BGPro-Light-font:      "BasisGrotesquePro-Light"
$BGPro-Bold-font:       "BasisGrotesquePro-Bold"

// @ Media breakpoint

$sm:                    576px
$md:                    768px
$lg:                    992px
$xl:                    1200px

$container-gap-mobile:  20px
$container-gap-pc:      60px

// Other vars
$mainMenu-pc-height:    100px