
@import "vars"
@import "fonts"    
@import "reboot"

body
    font-family: $BGPro-font
    font-size: 14px
.containerIS
    padding-left: $container-gap-mobile
    padding-right: $container-gap-mobile
    margin-left: auto
    margin-right: auto


+media-breakpoint-up($lg) 
    .containerIS
        padding-left: $container-gap-pc
        padding-right: $container-gap-pc
    .containerIS-inner
        padding-left: 12%
        padding-right: 12%


// page.components
@import "page.components/hamburgerBtn/_hamburgerBtn"
@import "page.components/mainLogo/_mainLogo"
@import "page.components/btnLink/_btnLink"
@import "page.components/separator/_separator"
@import "page.components/sectionTextBlock/_sectionTextBlock"
@import "page.components/btnNumber/_btnNumber"
@import "page.components/navDots/_navDots"


// page.blocks
@import "page.blocks/mainHeader/_mainHeader"
@import "page.blocks/mainContainer/_mainContainer"
@import "page.blocks/mainFooter/_mainFooter"


@import "media" // Always at the end
