
@import "vars"
@import "fonts"    
@import "reboot"

.containerIS
    padding-left: 20px
    padding-right: 20px
    margin-left: auto
    margin-right: auto


@import "page.blocks/mainHeader/_mainHeader"
@import "page.blocks/mainContainer/_mainContainer"


@import "media" // Always at the end
