
.heroHome
    height: 100vh
    background-image: url("images/hero-section/heroHome-Bg-mobile.png")
    background-repeat: no-repeat
    background-size: cover
    background-position: top right
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    position: relative
    &__title
        color: $white-color
        font-family: $BGPro-Bold-font
        font-size: 38px
        letter-spacing: -0.2px
        line-height: 41px
        margin-bottom: 30px
        margin-top: 60px
    &__subtitle
        color: $white-color
        font-family: $BGPro-font
        font-size: 19px
        letter-spacing: -0.2px
        line-height: 25px
        margin-bottom: 30px
    &__btnContainer
    &__scroll
        display: none
        position: absolute
        bottom: 25px
        left: 0
        right: 0

.scrollDown
    cursor: pointer
    display: inline-block
    &__text
        color: $greyDark-color
        text-transform: uppercase
        font-family: $BGPro-Bold-font
        font-size: 14px
        line-height: 19px
        text-align: center
        margin-bottom: 5px
    &__icon
        display: inline-block
        width: 25px
        height: auto



// Media


+media-breakpoint-up($md) 
    .heroHome
        background-image: url("images/hero-section/heroHome-Bg-pc.png")
        background-position: top center
+media-breakpoint-up($lg) 
    .heroHome
        margin-top: -#{$mainMenu-pc-height}
        &__title
            font-size: 48px
            line-height: 52px
        &__subtitle
            font-size: 24px
            line-height: 32px
            margin-bottom: 60px
        &__title,
        &__subtitle,
        &__btnContainer
            width: 50%
            padding-left: 10%
        &__scroll
            display: inline-block
+media-breakpoint-up($xl)
    .heroHome
        background-image: url("images/hero-section/heroHome-Bg-pc@2x.png")
        background-position: center